.banner-one-gear {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img2.jpg?raw=true');
}
.banner-stripped-Down {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img3.jpg?raw=true');
}
.banner-rider {
    background-image: url('../images/rider.jpg');
}