<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">    
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header>
      <nav class="navbar border-bottom border-primary">
        <div class="container-fluid justify-content-between">
          <h1 class="logo"><a class="navbar-brand img-replace-text" href="#">fixie</a></h1>
          <ul class="navbar-nav mb-lg-0" data-aos="fade-down" data-aos-duration="300" data-aos-offset="0" data-aos-once="true">
            <li class="nav-item me-12">
              <a class="nav-link hvr-underline-from-center active" aria-current="page" href="#">Product</a>
            </li>
            <li class="nav-item me-12">
              <a class="nav-link hvr-underline-from-center" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hvr-underline-from-center" href="#">contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%- contents %>

    <footer  data-aos="fade-up" data-aos-duration="200">
      <div class="container">
        <nav class="navbar bg-light">
          <div class="container-fluid justify-content-between">            
            <ul class="navbar-nav mb-lg-0 font-size-4">
              <li class="nav-item me-12">
                <a class="nav-link hvr-underline-from-center active" aria-current="page" href="#">Product</a>
              </li>
              <li class="nav-item me-12">
                <a class="nav-link hvr-underline-from-center" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" href="#">contact</a>
              </li>
            </ul>
            <p class="font-size-sm text-dark position-middle">© 2020 Fixie. All Rights Reserved.</p>  
            <h1 class="logo"><a class="navbar-brand img-replace-text" href="#">fixie</a></h1>
          </div>
        </nav>
      </div>
    </footer>


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>    
  </body>
</html>