.card {
    border: none;
    border-radius: 0;
}
.card-img-top {
    border-radius: 0;
}
.card-title {
    margin-bottom: 16px;
}
.card-text {
    margin-bottom: 16px;
}
.card-body {
    padding: 24px 0px 0px 0px;
    height: 50vh;
}
